.player1, .player1 * {
  color: #dbf8db;
}
.player2, .player2 * {
  color: #fdfed3;
}
.player3, .player3 * {
  color: #feefd3;
}
.player4, .player4 * {
  color: #e7fefe;
}
.player5, .player5 * {
  color: #fee5fe;
}
.player6, .player6 * {
  color: #fad4d4;
}
